@import '../../index.scss';

.personalData {

    width: 100%;
    height: fit-content;
    margin-bottom: 100px;


    &__message {
        text-align: center;
        font-size: 2rem;
        font-weight: 200;
        color: white;
        line-height: 40px
    }

    &__role {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background: linear-gradient(90.09deg, $darkBlue 2.84%, rgba(92, 190, 226, 0.7) 111.08%);
        color: white;

        & h3 {
            font-size: 1.2rem;
            font-weight: 700;
            font-style: italic;
        }
    }


    &__contact {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        & a {
            display: flex;
            justify-content: center;
            align-items: center;

            & .contactemail {
                height: 31.5px;
            }


            & .contactgithub {
                height: 38px;
            }


            & .contactlinkedin {
                height: 36px;
            }

        }
    }
}

@media (min-width:700px) {

    /* tablet, landscape iPad */
    .personalData {
        margin-left: 50px;
        width: 45%;
        margin-top: 150px;

        &__message {
            text-align: left;
        }

        &__role {
            width: 55vw;
            justify-content: flex-start;
        }


        &__contact {
            justify-content: flex-start;
        }
    }



}

@media (min-width:1100px) {

    /* big landscape tablets, laptops, and desktops */
    .personalData {
        position: relative;
        left: 100px;

        &__message {
            font-size: 2.3rem;
        }

        &__role {
            & h3 {
                font-size: 1.2rem
            }
        }
    }


}