.projectsSection {
    height: fit-content;
    background-color: #353841;
    background-image: url(../../assets/img/speedlightbg.png);
    background-repeat: no-repeat;
    // background-size: cover;
    overflow-y: hidden;
    position: relative;



    &__title {
        color: #fff;
        font-size: 1.7rem;
        margin: 30px 30px;
        text-align: left
    }

}

@media (min-width:700px) {

    /* tablet, landscape iPad */

    .projectsSection {
        position: relative;
        overflow-x: hidden;
        min-height: 670px;
        background-image: url(../../assets/img/desktopspeedlight.png);

        &__title {
            text-align: right
        }

        & .projectItemContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 20px;
        }
    }

}




@media (min-width:1100px) {

    .projectsSection {
        min-height: 670px;

        &__title {
            text-align: right
        }

        & .projectItemContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 20px;
        }
    }


}