.creativeSection {
    // min-height: 100vh;
    background: linear-gradient(161.9deg, #C971E6 -5.5%, #918CB8 55.45%, #4D7D85 106.66%);
    opacity: 0.9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    // DESCRIPTION

    &__descContainer {
        width: 100vw;
        margin-top: 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(268.54deg, #FFFFFF 2.16%, rgba(255, 255, 255, 0.4) 108.67%);

        .descContainer__desc {
            font-size: 20px;
            font-weight: 300;
            max-width: 90vw;
            text-align: justify;
            color: black;
            padding: 50px 0px;
        }
    }


    // BEHANCE CONTACT

    &__behance {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Reenie Beanie', cursive;
        font-size: 30px;
        color: white;
        margin: 30px 0;

        .behance__desc {
            max-width: 40vw;
            display: grid;
            place-items: center;
            font-weight: 500;
        }


        .behance__arrow {
            display: none;
        }


    }

    // PIANO
    .piano {
        padding-bottom: 30px;
        opacity: 0.7;
    }

    .whiteKey {
        width: 40px;
        height: 180px;
        border: 0.1px solid #e2dcdc4b;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;

        &.active {
            background: #6c768b4b;
        }

    }

    .blackKey {
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 100px;


        &.active {
            background: #333557de;
        }


        &.cs {
            top: 0;
            left: 25px;
        }

        &.ds {
            top: 0;
            left: 68px;
        }

        &.fs {
            top: 0;
            left: 140px;
        }

        &.gs {
            top: 0;
            left: 185px;
        }

        &.as {
            top: 0;
            left: 227px;
        }


    }

    // PLAY BUTTON 

    .pianoGame {
        display: none;
    }

}


@media (min-width:1100px) {

    /* big landscape tablets, laptops, and desktops */
    .creativeSection {
        min-height: 700px;
        background: linear-gradient(108.32deg, #c9a0d6 1%, #b3a9da 54.81%, #566891 81.51%, #669796 99.27%);
        opacity: 1;
        position: relative;

        // DESCRIPTION
        &__descContainer {
            height: 250px;

            .descContainer__desc {
                margin-left: 50%;
                max-width: 40vw;
            }
        }

        // BEHANCE CONTACT

        &__behance {
            width: 400px;
            position: absolute;
            top: 40%;
            right: 10px;

            & a {
                position: relative;
                bottom: -100px;
            }

            & .behance__arrow {
                display: block;
                position: absolute;
                right: 45px;
                top: 30px;
                transform: rotate(-10deg);
            }

        }


        // PIANO
        .piano {
            padding-bottom: 0px;
            transform: scale(1.9) rotate(22deg) translateX(-100px);
            opacity: 1;
            box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.781);

            position: absolute;
            top: 420px;
        }


        // PLAY BUTTON 

        .pianoGame {
            display: block;
            position: absolute;
            top: 2%;
            left: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Reenie Beanie', cursive;

            & p {
                font-size: 2.7rem;
                font-weight: 500;
            }

            & .pianoGame__indications {
                max-width: 20vw;
                min-width: 230px;
                min-height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }


            &__playlevels {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 100px;

                .levels {
                    position: relative;
                    bottom: 20px;
                }

                .play {
                    cursor: pointer;
                    width: 100px;
                    height: 100px;

                }
            }

            .play__arrow {
                position: absolute;
                left: 140px;
                transform: rotate(-10deg);
                bottom: -50px;
            }

        }

        .alertIndication {
            margin-top: 12%;
        }


    }

}