.whiteKey {

    width: 20px;
    height: 100px;
    background-color: #fff;
    border-radius: 2px;

    &:hover {
        box-shadow: 0 0 10px rgba(184, 183, 183, 0.5);
    }

    &:active {
        box-shadow: 0 0 10px rgba(184, 183, 183, 0.5);
    }

}

.blackKey {
    width: 20px;
    height: 100px;
    background-color: #353841;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;


    &:hover {
        box-shadow: 0 0 10px rgba(73, 72, 72, 0.5);
    }

    &:active {
        box-shadow: 0 0 10px rgba(73, 72, 72, 0.5);
    }

}