.contactSection {

    &__container {
        min-height: 95vh;
        height: fit-content;
        display: flex;
        flex-direction: column;

    }

}

@media (min-width:1100px) {

    /* big landscape tablets, laptops, and desktops */
    .contactSection {
        height: 700px;

        & .formSubsection {
            margin-top: 20px;
        }

        &__container {
            height: 100%;
            flex-direction: row;

        }
    }
}