@import "../../index.scss";

.logicSection {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__story {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    width: 90vw;
    margin-top: 120px;
    max-width: 700px;
  }

  &__puzzleContainer {
    min-height: 300px;
    width: 400px;
    height: fit-content;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 240px;
    position: relative;
  }

  & .decorationLine {
    top: 60px;
    left: -120px;
  }

  .solvedAnimation {
    transition: 1s ease-in-out;
    transform: rotate(360deg);
  }

  // HAND INDICATOR
  .clickIndication {
    bottom: 80px;
    left: 22%;
    pointer-events: none;

    &__hand {
      display: none;
    }
  }

  // INSTRUCTION TO SOLVE
  &__tip {
    opacity: 0;
    position: absolute;
    bottom: 80px;
    font-family: "Reenie Beanie";
    font-size: 1.9rem;
  }

  &__boxIndication {
    display: none;
  }
}

@media (min-width: 700px) {
  /* tablet, landscape iPad */

  .logicSection {
    min-height: unset;

    &__story {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 1000px) {
  /* tablet, landscape iPad */
  .logicSection {
    min-height: 700px;
    max-height: 900px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__story {
      max-width: 45vw;

      margin: 0;
    }

    & .decorationLine {
      top: 100px;
      left: 0;
    }

    &__puzzleContainer {
      width: 320px;

      padding: 0px;
    }

    // HAND INDICATOR
    .clickIndication {
      left: -170px;
      bottom: -100px;

      &__hand {
        display: block;
      }
    }

    // INSTRUCTION TO SOLVE
    &__tip {
      position: absolute;
      width: 400px;
      top: -60px;
      font-size: 2rem;
      height: 50px;
      text-align: center;
    }

    &__boxIndication {
      animation: fromBottom 5s ease-in-out forwards;

      display: block;

      position: absolute;
      bottom: 35px;
      left: 120px;

      padding: 20px;

      border: 1px solid black;
      border-radius: 4px;

      & .fa-lightbulb {
        margin-right: 10px;

        color: #ffd7b8;
      }
    }

    @keyframes fromBottom {
      0% {
        opacity: 0;
        transform: translateY(50%);
      }

      50% {
        opacity: 0;
        transform: translateY(50%);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@media (min-width: 1400px) {
  /* tablet, landscape iPad */
  .logicSection {
    &__story {
      font-size: 1.5rem;
    }

    &__tip {
      font-size: 2.3rem;
    }

    &__puzzleContainer {
      transform: scale(1.15);
    }
  }
}
