.technologiesSection {
    position: relative;
    overflow-y: hidden;


    &__title {
        font-size: 1.7rem;
        margin: 25px 20px;
    }

    // TECH CARDS
    &__techContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__techCircleContainer {
        margin: 0 auto;
        padding-bottom: 70px;
        width: 80vw;
        max-width: 800px;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }

    // SLIDE PUZZLE
    &.activeAnimation {
        animation: 2.5s ease-in-out forwards slidePuzzle;
    }

    @keyframes slidePuzzle {
        0% {
            opacity: 1
        }

        50% {
            opacity: 0
        }

        100% {
            opacity: 100
        }
    }

    &__interactionContainer {
        display: block;
        position: absolute;
        right: 25px;
        bottom: 25px;
        width: 220px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        &.solved {
            display: none;

        }
    }

    // SLIDE PUZZLE
    &__description {
        display: none
    }

    &__chessbg {
        display: none;
    }

    .slidePuzzleContainer {
        right: -0.5vw;
        transform: scale(0.75);
        margin-bottom: 70px;
    }


    .alertIndication {
        top: 16%;
    }

}


@media (min-width:700px) {

    /* tablet, landscape iPad */

    .technologiesSection {
        height: 98vh;
        min-height: 600px;
        max-height: 671px;

        &.solved {

            height: fit-content;
            max-height: unset;
        }

        &__title {
            margin: 30px 30px;
        }

        &__techContainer {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 20px;
            row-gap: 0px;

        }

        &__techCircleContainer {
            position: relative;
            bottom: 10px;
            padding-bottom: 10px;
        }



        &__chessbg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: -1;
        }

        .slidePuzzleContainer {
            right: 0;
            transform: scale(1);
            margin-bottom: 114px;
        }
    }

}

@media (min-width:1100px) {

    /* big landscape tablets, laptops, and desktops */
    .technologiesSection {

        &.solved {
            max-height: 671px;
        }

        &__interactionContainer {

            &.solved {
                bottom: 20px;
                display: block;
            }
        }

        &__techCircleContainer {
            bottom: 0
        }

        &__title {
            font-size: 2rem;
        }

        &__description {
            display: block;
            font-size: 1.2rem;
            font-weight: 300;
            position: absolute;
            top: 40px;
            right: 25px;
        }

    }
}

@media (min-width:1400px) {

    /* big landscape tablets, laptops, and desktops */
    .technologiesSection {
        min-height: 700px;

        &.solved {
            min-height: 710px;
        }

        &__title {
            font-size: 2.3rem;
        }

        &__description {
            font-size: 1.5rem;
        }

        .slidePuzzleContainer {
            right: 0;
            transform: scale(1.15);
            margin-bottom: 70px;
        }

    }
}