*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Reenie Beanie', cursive;
}

$gray : #F7F9FB;
$smoothBlack: #353841;
$darkBlue: #00161E;
$blue : #70C6E6;
$green: #4DD5C0;
$purple : #8461B3;