.rubiksColumn {

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

    .b {
        background-color: #5085A5
    }

    .g {
        background-color: #50A568;
        ;
    }



    .rubikscta {
        cursor: pointer;
        position: absolute;
        bottom: -100px;
        width: 55px;
        border: none;
        height: 55px;
        opacity: 0.8;
        border-radius: 15px;
        background-color: #8FC1E3;
        box-shadow: 0px 0px 5px 2px rgba(23, 112, 124, 0.246);

    }
}


.hideAnimation {
    animation: hide 2s forwards ease-in-out;
}

@keyframes hide {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}