.rubiksColumn {

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

    .b {
        background-color: #5085A5
    }

    .g {
        background-color: #50A568;
        ;
    }



    .rubikscta {
        cursor: pointer;
        position: absolute;
        border: none;
        bottom: -100px;
        width: 55px;
        height: 55px;
        opacity: 0.8;
        border-radius: 50%;
        background-color: #8FC1E3;
        border: 1px linear #8FC1E3;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
            font-size: 2rem;

            &.active {
                animation: moveToBottom 0.4s ease-in-out;
            }



            @keyframes moveToBottom {
                0% {
                    transform: translateY(0);
                }

                70% {
                    opacity: 0.5;
                    transform: translateY(30%);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0);
                }

            }
        }



    }
}



.showAnimation {
    animation: show 2s forwards ease-in-out;
}

@keyframes show {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}