$CONTAINERWIDTH:450px;
$PADDING : 40px;

.tech-item {
    position: absolute;
    width: calc(($CONTAINERWIDTH - $PADDING) /3);
    height: calc(($CONTAINERWIDTH - $PADDING) /3);
    transition: 0.85s ease-in-out;
    cursor: pointer;
    background: #F7F9FB;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        pointer-events: none;
    }
}



.emptyElement {
    pointer-events: none;
    opacity: 0;
}