$CONTAINERSIZE:450px;

.slidePuzzleContainer {
  padding: 20px;
  margin: 0 auto;
  width: $CONTAINERSIZE;
  height: $CONTAINERSIZE;
  background: rgba(115, 157, 183, 0.4);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}