.techContainer__minitech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .minitech__imgContainer {
        background: #F7F9FB;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &>.minitech__title {
        margin-top: 10px;
        max-width: 150px;
        text-align: center;
        line-height: 20px;

    }
}


@media (min-width:1400px) {

    /* big landscape tablets, laptops, and desktops */
    .techContainer__minitech {

        .minitech__imgContainer {
            width: 90px;
            height: 90px;

        }

        &>.minitech__title {
            font-size: 1.4rem;

        }
    }
}