@import '../../index.scss';

.contactLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & a {
        text-decoration: none;
    }

    & i {
        color: $darkBlue;
        font-size: 2rem;
    }
}