@import '../../index.scss';

.contactLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & a {
        text-decoration: none;
    }

    & i {
        color: $darkBlue;
        font-size: 2rem;
    }
}

@media (min-width:1400px) {

    /* tablet, landscape iPad */
    .contactLinks>.contactLink>i {
        font-size: 3rem !important;
    }

    .contactLinks>.contactLinkSpecific>i {
        font-size: 2.5rem !important;
    }
}