.mainlogo {
    position: absolute;
    width: 70px;
    top: 40px;
    left: 40px;
}

@media (min-width:700px) {

    /* tablet, landscape iPad */
    .mainlogo {
        top: 50px;
        left: 50px;
    }
}