.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__name {
        font-size: 1.1rem;
        font-weight: 300;
    }

    & i {
        font-size: 1.7rem;
    }
}

@media (min-width:1400px) {

    /* big landscape tablets, laptops, and desktops */
    .sign {
        &__name {
            font-size: 1.3rem;
        }

        & i {
            font-size: 2rem;
        }
    }

}